<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<ul>
    <th:block th:each="event : ${events}">
        <li th:text="${event}"></li>
    </th:block>
</ul>

<!--<table>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <tr>-->
<!--            <td th:text="${events.getKey(eventsName)}">...</td>-->
<!--            <td th:text="${events.getValue(eventDescription)}">...</td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->

</body>
</html>